extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")          
            h2 What the hell is this?
          p Make quick polls. Share the results.

    section(class="main-content")
      h3 Make a quick poll for a bunch of friends, coworkers, family, or 
       em whatever
       | .
      p Sometimes you want to just make it, and throw it away. 
      p No registration. No tracking. We only keep your history in your browser's cookie store. That's it.
