extends layout

block content
  div(class="jumbotron")
   h2 Tally Up
   p Create a simple, quick and easy poll to share with friends, family, coworkers, etc. 
   p Simply write up your question, pick the answer types, and share it.
   a(class="btn btn-primary btn-lg", href="/tally/new") Create A Poll
