extends ../layout
block content 
    div(class="panel panel-info")
      div(class="panel-heading")
        h3(class="panel-title") Oops, Can't Find That      
      div(class="panel-body") We don't have that, sorry. It might've been a real thing at one time or another, but no more.
        p
            img(src="http://i.imgur.com/jedfXV0.gif")
