extends ../layout
block head
    script(src="/scripts/admin.js")
block content 
    |<iframe  width="853" height="480"   src="//www.youtube.com/embed/RfiQYRn7fBg?start=10&autoplay=1" frameborder="0" allowfullscreen></iframe>        
 