extends ../layout

block content
    p=tally.ownerName + " asks:"
    h2
        a(href="")=tally.question               
        div(class="well bs-component")          
            fieldset                
                each answer in tally.answers
                  